<template>
  <div class="flex flex-center">
    <q-img
      src="~assets/img/banner.svg"
      style="width: 524px; height: 132px"
      fit="fill"
    ></q-img>
  </div>
  <p class="text-center q-my-xs">
    Accompany your free time, browse your movie with Muvi Break!
  </p>

  <div class="q-pa-md" style="max-width: 500px; margin: auto">
    <q-input
      v-model="query"
      debounce="500"
      outlined
      placeholder="Type a name of movie here.."
    >
      <template v-slot:append>
        <q-icon name="fa-solid fa-magnifying-glass" />
      </template>
    </q-input>
  </div>

  <q-page
    class="flex column q-gutter-y-md"
    style="max-width: 1000px; margin: auto"
  >
    <template v-if="qList.length !== 0">
      <MovieItem v-for="item in qList" :movie="item" :key="item.id" />
    </template>
    <template v-else>
      <div class="full-width flex flex-center">
        <q-img
          src="~assets/img/empty-illustration.svg"
          style="width: 385px; height: 231px"
          fit="fill"
        />
      </div>
      <p class="q-mt-lg text-center">No Result</p>
    </template>
  </q-page>
  <q-page-sticky position="bottom-right" :offset="[32, 32]">
    <q-btn fab icon="fa-solid fa-plus" color="accent" @click="createMovie()" />
  </q-page-sticky>
</template>

<script setup>
import { ref, watch, onBeforeMount } from "vue";
import MovieItem from "components/MovieItem.vue";

import { useRouter } from "vue-router";
import { useMovieStore } from "stores/movie-store";

const query = ref("");

const store = useMovieStore();

const list = ref([]);
const qList = ref([]);
const router = useRouter();

function createMovie() {
  router.push({ name: "movie", params: { id: "create" } });
}
onBeforeMount(() => {
  list.value = store.list;
  qList.value = list.value;
});

watch(query, () => {
  if (query.value !== "") {
    qList.value = list.value.filter((item) =>
      item.title.toLowerCase().includes(query.value.toLowerCase())
    );
  } else {
    qList.value = list.value;
  }
});
defineOptions({
  name: "IndexPage",
});
</script>
