<template>
  <!-- HEADER PAGE -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 q-mb-md">
      <div class="row items-center no-wrap">
        <q-btn
          @click="back"
          round
          color="primary"
          icon="fa-solid fa-arrow-left"
        />
        <h4 class="q-ml-lg q-mb-none" style="word-break: break-word">
          {{ isUpdate ? "Update a Movie" : "Create a Movie" }}
        </h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 q-pa-md">
      <div
        class="q-gutter-y-md row items-center justify-end q-gutter-x-md q-ml-none"
      >
        <q-btn
          v-if="isUpdate"
          color="negative"
          icon="fa-solid fa-trash"
          label="DELETE"
          @click="handleDelete"
          class="col-xs-12 col-sm-12 col-md-4"
        />
        <q-btn
          color="primary"
          icon="fa-solid fa-pen-to-square"
          label="SAVE"
          @click="handleSave"
          class="col-xs-12 col-sm-12 col-md-4"
        />
      </div>
    </div>
  </div>
  <q-page class="flex column" style="max-width: 1000px; margin: auto">
    <q-form ref="myForm" class="q-pa-md q-gutter-sm">
      <q-input
        filled
        v-model="movieData.title"
        label="Title"
        stack-label
        :dense="false"
        :rules="[(val) => (val && val.length > 0) || 'Please type movie title']"
      />
      <q-input
        filled
        v-model="movieData.director"
        label="Director"
        stack-label
        :dense="false"
        :rules="[
          (val) => (val && val.length > 0) || 'Please type director name',
        ]"
      />
      <q-input
        filled
        v-model="movieData.summary"
        label="Summary"
        stack-label
        :dense="false"
        type="textarea"
        :rules="[
          (val) => (val && val.length > 0) || 'Please type the summary',
          (val) =>
            val.length <= 100 || 'Please be sure you only type 100 chars max',
        ]"
      />
      <div>
        <q-select
          filled
          v-model="movieData.genres"
          multiple
          :options="genreOptions"
          label="Genres"
          use-chips
          :rules="[(val) => val.length > 0 || 'Please choose minimum 1 genre']"
        />
        <q-chip
          v-for="item in movieData.genres"
          :key="item"
          text-color="white"
          :color="getGenreChipColor(item)"
          :icon="getGenreChipIcon(item)"
          removable
          @remove="removeGenre(item)"
        >
          {{ item }}
        </q-chip>
      </div>
    </q-form>
  </q-page>
</template>

<script setup>
import { onBeforeMount, ref } from "vue";
import { useQuasar } from "quasar";
import { useRouter, useRoute } from "vue-router";
import { useMovieStore } from "stores/movie-store";
import {
  generateId,
  getGenreChipColor,
  getGenreChipIcon,
} from "src/helpers/movie";

const $q = useQuasar();
const router = useRouter();
const route = useRoute();
const store = useMovieStore();
const isUpdate = ref(route.params.id !== "create");

const myForm = ref(null);

const movieData = ref({
  id: "",
  title: "",
  director: "",
  summary: "",
  genres: [],
});

const genreOptions = store.genres;

function back() {
  router.push({
    name: "home",
  });
}

function handleSave() {
  myForm.value.validate().then((success) => {
    if (success) {
      if (isUpdate.value) {
        handleUpdate();
      } else {
        handleAdd();
      }
      showNotifs(2000);
    }
  });
}

function handleAdd() {
  store.addList({
    id: generateId(),
    title: movieData.value.title,
    director: movieData.value.director,
    summary: movieData.value.summary,
    genres: movieData.value.genres,
  });
}

function handleUpdate() {
  store.setItem(movieData.value);
}

function showNotifs(timeout) {
  const saveTimeOut = setTimeout(() => {
    router.push({ name: "home" });
  }, 3000);

  $q.notify({
    progress: true,
    message: "Your changes are being saved.",
    icon: "",
    color: "primary",
    textColor: "white",
    timeout: timeout,
    actions: [
      {
        label: "Dismiss",
        color: "white",
        handler: () => {
          clearTimeout(saveTimeOut);
        },
      },
    ],
  });
}

function handleDelete() {
  store.removeItem(route.params.id);
  showNotifs(300);
}

function removeGenre(genre) {
  movieData.value.genres = movieData.value.genres.filter(
    (item) => item !== genre
  );
}

onBeforeMount(() => {
  if (isUpdate.value) {
    movieData.value.id = route.params.id;
    movieData.value.title = store.getMovieById(movieData.value.id).title;
    movieData.value.director = store.getMovieById(movieData.value.id).director;
    movieData.value.summary = store.getMovieById(movieData.value.id).summary;
    movieData.value.genres = store.getMovieById(movieData.value.id).genres;
  }
});
</script>

<style lang="scss" scoped>
h4 {
  margin-block-start: 0 !important;
}
</style>
