<template>
  <RouterLink
    :to="{ name: 'movie', params: { id: movie.id } }"
    style="text-decoration: none"
  >
    <q-card dark bordered class="bg-primary my-card">
      <q-card-section>
        <div class="text-h6">{{ movie.title }}</div>
        <div class="text-subtitle2">
          by
          <a
            :href="`https://www.google.com/search?q=${movie.director}`"
            ref="skipLink"
            class="skip-link"
            target="_blank"
            @click.prevent="handleDirectorClick(movie.director)"
            >{{ movie.director }}</a
          >
        </div>
      </q-card-section>

      <q-separator dark inset />

      <q-card-section>
        <p>
          {{ movie.summary }}
        </p>
        <div class="q-gutter-x-xs q-gutter-y-lg row justify-end">
          <q-chip
            v-for="genre in movie.genres"
            :key="genre"
            :color="getGenreChipColor(genre)"
            :icon="getGenreChipIcon(genre)"
            text-color="white"
            >{{ genre }}</q-chip
          >
        </div>
      </q-card-section>
    </q-card>
  </RouterLink>
</template>

<script setup>
import { RouterLink } from "vue-router";
import { getGenreChipColor, getGenreChipIcon } from "../helpers/movie";
defineOptions({
  name: "MovieItem",
});

const props = defineProps({
  movie: {
    type: Object,
    default: null,
  },
});

function handleDirectorClick(directorNames) {
  window.location.href = `https://www.google.com/search?q=${directorNames.replace(
    /[^a-zA-Z0-9]/g,
    " "
  )}`;
}
handleDirectorClick;
</script>
<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 1024px;
}
a {
  color: #fd7293;
}
</style>
