<template>
  <q-layout view="hHh lpr fFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title clickable tag="a" target="_blank" href="#">
          Muvi Break
        </q-toolbar-title>
        <q-btn
          clickable
          tag="a"
          target="_blank"
          href="https://gitlab.com/reshapuspita/muvi-briix/"
          color="#fff"
          flat
          rounded
          icon-right="fa-brands fa-gitlab"
          label="Source"
        />
      </q-toolbar>
    </q-header>

    <q-page-container class="q-mt-lg q-mb-xl q-px-lg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
defineOptions({
  name: "MainLayout",
});
</script>
